@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
    /* font-family: Roboto; */
    font-family: "Kumbh Sans";
    /* transition: rotate 0.5s ease, width 0.5s ease, opacity 0.5s ease; */
    /* transition: width 0.5s ease; */
    /* transition: all 0.5s ease; */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


:root {
    --primary-bg-color: #2C2C2C;
    --sidebar-bg-color: #1A1A1A;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #B4B4B4;
    --divider-color: #555555;
    --highlight-color: #2C2C2C;

    --sidebar-primary-text-size: 1.5rem;
    --sidebar-secondary-text-side: 1rem;
}
 
/* ANIMATIONS */
.main,
.sidebar.active + .main {
    transition: left 0.5s ease, width 0.5s ease;
}

#collapseBtn {
    transition: rotate 0.5s ease;
}

.sidebar,
.sidebar.active {
    transition: width 0.5s ease;
}


.sidebar > * {
    transition: opacity 0.25s ease .25s, width 0.5s ease;
} 

.sidebar.active > *:not(:first-child) {
    transition: opacity .1s ease;
} 

.newItemPopup.show,
.newItemPopup.hide{
                transition: opacity .5s ease,
                            visibility .5s ease;
} 


.projectPrompt.show {
    transition: opacity 0.5s ease, visibility 0.5s ease
}

.projectPrompt.hide {
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0s ease 0.5s;
}

button,
button:hover {
    transition: background-color 0.25s ease, color 0.25s ease;
}

div,
.confirmBtns > div:hover {
    transition: background-color 0.25s ease;
} 



body {
    background-color: var(--primary-bg-color);
}


/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:1rem;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:1rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    height: 100vh;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sidebar-bg-color);
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--sidebar-primary-text-size);
}

.sidebar.active {
    width: 3.5rem;
}

.projects {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 .5rem;
    overflow-y:scroll;
}

.sidebar.active > *:not(:first-child) {
    opacity: 0;
}


.projectsTitle, .viewsTitle {
    padding: 0 1.5rem .5rem;
    border-bottom: 2px solid var(--divider-color);
}

.view {
    padding: .5rem 1.5rem;
    border-radius: .75rem;
    cursor: pointer;
    font-size: var(--sidebar-secondary-text-side);
}

.view:hover {
    background-color: var(--highlight-color);
}

.activeView,
.activeProject {
    background-color: var(--highlight-color);
}


.project {
    padding: .5rem 1.5rem;
    border-radius: .75rem;
    cursor: pointer;
    font-size: var(--sidebar-secondary-text-side);
}

.project:hover {
    background-color: var(--highlight-color);
}
.bottom {
    margin-top: auto;
}

.newProject {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--divider-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.toggle {
    /* height: 2rem; */
    display: flex;
    justify-content: end;
    padding: .75rem .75rem 0 0;
}

#collapseBtn {
    width: 2rem;
}

.sidebar.active #collapseBtn {
    rotate: 180deg;
}

.main {
    position: absolute;
    left: 20rem;
    width: calc(100% - 20rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    padding-right: 1rem;
    height: 100vh;
    overflow-y: scroll;
} 

.sidebar.active ~.main {
    left: 3.5rem;
    width: calc(100% - 3.5rem);
}

li {
    list-style: none;
}

.contentTitle {
    font-size: 2rem;
}

.projectCard > .title {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--divider-color);
    color: var(--secondary-text-color);
    font-weight: bold;
}


.todoList {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    overflow-y: scroll;
}

.todoItem {
    position: relative;
}


input[type="checkbox"]{
    width: 1.25rem;
}

.todoItem {
    display: flex;
    gap: 1.25rem;
}

input:checked ~ .todoItemInfo {
    text-decoration: line-through;
}

.todoItemInfo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
}
.todoItemInfo:hover {
    background-color: var(--divider-color);
}

.todoItemInfo > p:last-child {
    color: var(--secondary-text-color);
}


.projectPrompt {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    text-align: center;
    margin-top: auto;
    opacity: 0;
    visibility: hidden;
}


.projectPrompt.show {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
}

.projectPrompt.hide {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}
.confirmBtns {
    display: flex;
    gap: .25rem;
    height: 100%;
    align-items: center;
}

.confirmBtns > * {
    height: 100%;
    display: flex;
    align-items: center;

}

.confirmBtns > div:hover {
    background-color: var(--highlight-color);  
    border-radius: .5rem;  
}


input, textarea {
    color: var(--primary-bg-color);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
}

.newItem {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.newItem:hover {
    background-color: var(--divider-color);
}

.newItemPopup {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.newItemPopup.show {
    visibility: visible;
    opacity: 1;
}

.newItemPopup.hide {
    visibility: hidden;
    opacity: 0;
}

.popupForm {
    width: 50vw;
    background-color: var(--sidebar-bg-color);
    padding: 2rem;
    padding-top: 1rem;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 
                0 6px 20px 0 rgba(0, 0, 0, 0.6);

}

.formItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}



.formItems > label{
    grid-column: 1 / span 1;
}

.formItems > input,
.formItems > textarea,
.formItems > select {
    grid-column: 2 / span 3;
}

textarea {
    height: 5rem;
    resize: none;
}

.inputItem {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.inputItem > input,
.inputItem > textarea,
.inputItem > select {
    flex: 1
}

.formBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    grid-column: 1 / -1;
}

button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid var(--divider-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--divider-color);
    background-color: white;
    color: black;
}

select {
    color: black;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
}

select > option {
    color: black;
    font-size: 1rem;
}